
<!-- There are two ways of creating the routes
  1) by using topbar component
  2) by using routeLink property with bootstrap nav
  3) programmatic by using Route service 
-->

<!-- Option 1) using topbar component -->
<!-- <app-topbar-navbar-brand></app-topbar-navbar-brand> -->

<!-- Option 2) using nav and call to routeLink -->
<!-- <ul class="nav ">
  <li class="nav-item active" routerLinkActive="active">
    <a class="nav-link" [routerLink]="['tunnel']">Tunnel</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" [routerLink]="['histogram']">Histogram</a>
  </li>
  <li class="nav-item dropdown" dropdown>
      <a class="nav-link dropdown-toggle" dropdownToggle>Examples <span class="caret"></span></a>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li *ngFor="let ex of examples" [class.active]="router.isActive(ex.path, true)">
              <a class="dropdown-item" [routerLink]="ex.path" [innerHTML]="transform(ex.label)"></a>
          </li>
      </ul>
  </li>
</ul> -->


<div class="split-simple">
  <split [direction]="direction" disabled=true gutterSize="1">
    <split-area size="12">         
      <app-python-left-menu></app-python-left-menu>
    </split-area>
    <split-area size="88" disabled=true>          
      <app-topbar-nav></app-topbar-nav>
      <hr>

      <split direction="horizontal" gutterSize="5">
        <!-- this is the area of the code-->          
        <split-area size="60">
          <router-outlet></router-outlet> 
        </split-area>
        
        <!-- this the area of the right top/bottom-->
        <split-area size="40">        
          <!-- split the right side into two top and bottom for decription and output -->
          <split class="split-right" direction="vertical" gutterSize="5">
                        
            <split-area class="split-area-right-top">
              <!-- here is right-top content -->
              <p>Lm ipsum dolo ullamco la pariatur.</p>
            </split-area>          

            <split-area class="split-area-right-buttom">
              <!-- here is right-button content -->
              <p>Lorem ipsum dolo, co nulla pariatur.</p>                 
            </split-area>

          </split>
        </split-area>
      </split>


      <!-- <div class="row">
        <div class="col-md-10">
          <router-outlet></router-outlet> 
        </div>
        <div class="col-md-2">
          <textarea>sdvsdv</textarea>
        </div>
      </div> -->


    </split-area>
  </split>
</div>

<!-- 



<app-topbar-nav></app-topbar-nav>
<hr>


<router-outlet></router-outlet> -->



<!-- 
<div class="split-simple">
        <split [direction]="direction" gutterSize="7">
            <split-area size="9">         
              <app-sidebar> </app-sidebar>                
            </split-area>
            <split-area size="91">          
              <router-outlet></router-outlet>
            </split-area>
        </split>
    </div>
    
     -->
