.pre {
  overflow-x: hidden;   
  margin-top: 0px; 
  height: 100%;
  background:   lavender
}

.h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  font-family: monospace;
  background:   lavender;
  color: blue;
}