/* see https://bl.ocks.org/jcla1/2938024 */

.CodeMirror {
  /* border: 1px solid #eee; */
  height: 700px; 
  background-color: #615b94;
}

.cm-s-eclipse {
  background-color: #615b94;
}

.h4 {
  margin-left: 33px;
  font-family: monospace;
  color: blue;
}

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre {
  padding: 0 4px; /* Horizontal padding of content */
}

.code {
  height: 98%;
  width: 100%; 
}

.h4 {
  margin-top: 7px;
  margin-bottom: 7px;
}
