/* see https://bl.ocks.org/jcla1/2938024 */

.CodeMirror {
  /* border: 1px solid #eee; */
  height: 700px; 
  background-color: #615b94;
}


.h4 {
  margin-left: 33px;
  font-family: monospace;
  color: blue;
}

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre {
  padding: 0 4px; /* Horizontal padding of content */
}

.code {
  height: 98%;
  width: 100%; 
}

.h4 {
  margin-top: 7px;
  margin-bottom: 7px;
}

a {
  color: darkslateblue;  
}

.split-simple {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  position: relative; 
}

split-area > p {
  padding: 15px;
}

.python-main {
  height: 100%; 
  /* background: black; */
}

.python-right {
  height: 100%; 
  margin-bottom: 0%;
  padding-top: 0%;
  /* background: aqua;   */
}

.python-right-top {
  height: 100%; 
  margin: 0%;
  padding: 0%; 
}

.python-right-bottom {
  height: 100%; 
  margin: 0%;
  padding: 0%;
 }

.hr {
  margin-top: 0px; 
  margin-bottom: 0px;
}